	body {
		background: #F7FBD9;
		margin: 0px;
	}
	
	header#menu {
		z-index: 999;
		background: #F7FBD9;
		display: inline-flex;
		position: fixed;
		width: 100%;
		height: 80px;
		box-shadow: 0px 3px 7px 0px #999;
	}
	
	header#menu img#main_logo {
		height: 50px;
		padding: 15px;
	}
	
	footer {
		width: 100%;
		border-top: 1px solid #ccc;
		height: 3em;
		flex-direction: row;
		text-align: center;
		line-height: 3em;
		font-size: 70%;
	}

	nav {
		margin: 0 0 0 auto;
		width: 50px;
		padding: 15px;
	}

	.btn {
		text-align: right;
	}

	.btn a {
		display: inline-block;
		text-align: center;
	}

	#open a {
		width: 50px;
		line-height: 50px;
		content: url(../img/icon_menu.png);
	}

	#close a {
		color: #B94F4A;
		background: #F7FBD9;
		width: 50px;
		line-height: 50px;
		border-radius: 25px;
	}

	#g_menu li {
		list-style: none;
		background-color: #F7FBD9;
		color: #B94F4A;
		height: 40px;
		line-height: 40px;
		font-size: 16pt;
		margin:20px 0px;
		padding: 5px;
		border-radius: 25px;
	}
	
	#g_menu a:any-link {
		text-decoration: none;
	}
	
	#g_menu img {
		height: 40px;
		vertical-align: middle;
		margin: 0px 10px;
	}

	#g_menu a#close {
		content: url(../img/icon_menu_close2.png);
	}

	#g_menu {
		height: 100%;
		width: 300px;
		padding: 20px;
		background: #B94F4A;
		transition: right 1s;
		position: fixed;
		top: 0;
	}

	#g_menu:not(:target) {
		right: -100%;
	}

	#g_menu:target {
		right: 0;
	}

	h2#contents_title {
		border-bottom: 1px solid #ccc;
		width: 100%;
		display: inline-flex;
		flex-direction: column;
	}
	
	div#contents {
		display: inline-flex;
		width: 100%;
		padding: 90px 20px 20px 20px;
		flex-direction: column;
	}
	
	div#body {
		display: flex;
	}